@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  /* background-color: #f8ffdb; */
  background-color: #fffbf5;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: transparent;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: transparent;
}
